# dependencies
/node_modules

# production
/build
/data/anchors/*
!/data/anchors/.gitkeep
/data/timelines/*
!/data/timelines/.gitkeep
/data/visualizations/*
!/data/visualizations/.gitkeep
/data/configurations/*
!/data/configurations/.gitkeep

# misc
.DS_Store
.idea

# env files
.env

# Next.js
.next

# typescript
next-env.d.ts
